*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.wrapper {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text{
    flex-basis: 45%;
}

.all-images {
    height: 80vh;
    display: flex;
}

.small-images {
    display: flex;
    flex-direction: column;
}

.small-images img {
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}

.small-images img:hover {
    opacity: 1;
}

.main-images img {
    height: 100%;
}

p {
    margin-bottom: 20px;
}

.brand{
    background-color: burlywood;
    width: fit-content;
    color: azure;
    font-size: 12px;
    padding: 2px 5px;
}

h2 {
    font-size: 35px;
    color: black;
    margin-bottom: 20px;
}

.review {
    background-color: burlywood;
    display: inline-block;
    color: azure;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
}

.price{
    color: rgb(29, 28, 28);
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
}

.price-box {
    display: flex;
    align-items: center;
}

input {
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

button {
    width: 130px;
    background-color: burlywood;
    font-size: 15px;
    outline: none;
    color: azure;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

button .fa{
    margin-right: 10px;
}

.buy {
    background-color: goldenrod;
}

@media only screen and (max-width:1200px) {
    .wrapper {
        flex-direction: column;
        height: auto;
        padding: 5% 0;
    }
    .text {
        padding-top: 50px;
    }
    .all-images {
        flex-direction: column;
        height: auto;
    }
    .small-images {
        flex-direction: row;
        justify-content: space-evenly;
        order: 1;
        overflow-x: auto;
        scrollbar-width: thin;
    }
    .product-box {
        width: 100%;
    }
    .main-images img {
        width: 100%;
    }
    .small-images img {
        width: 25%;
    }
    h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width:600px) {
    .all-images {
        flex-direction: column;
        height: auto;
    }
    .small-images {
        flex-direction: row;
        justify-content: space-evenly;
        order: 1;
        overflow-x: auto;
        scrollbar-width: thin;
    }
    .product-box {
        width: 100%;
    }
    .main-images img {
        width: 100%;
    }
    .small-images img {
        width: 25%;
    }
    h2 {
        font-size: 25px;
    }
}